@import 'main.scss';

.con-login{
    display: grid;
    column-gap: 5vw;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: calc(100vh - 100px);
    align-items: center;
    padding: 0px 15px;
}
.sect-img{
    display: none;
}
.sect-login{
    width: 280px;
    display: grid;
    row-gap: 20px;
    /* height: 400px; */
}
.head-login{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 35px;
}
.sect-1{
    display: grid;
    align-content: center;
}
.sect-1 h2{
    padding: 0px;
    margin: 0px;
    font-family: $font-poppins;
    font-weight: 700;
}
.sect-1 h2 span{
    color: $main-color;
    font-size: 40px;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.sect-2{
    display: flex;
    column-gap: 10px;
}
.sect-2 p, .sect-2 a{
    padding: 0px;
    margin: 0px;
    font-family: $font-nunito;
    text-decoration: none;
}
.sect-2 a{
    color: $main-color;
}

.con-form-lo{
    display: grid;
    row-gap: 15px;
}

.body-login form{
    display: grid;
    row-gap: 20px;
}
.con-ol{
    display: grid;
    justify-content: flex-end;
}
.con-ol a{
    text-decoration: none;
    color: #17202A;
}
.con-btns{
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    grid-template-rows: 50px 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    row-gap: 20px;
}

.ico-input{
    position: absolute;
    right: 20px;
    height: 100%;
    display: grid;
    align-content: center;
    top: -10px;
}
.ico-input-select img{
    width: 30px;
}
.ico-input img{
    height: 30px;
}

@media (min-width:981px){
    .con-login{
        grid-template-columns: 60vw 40vw;
        height: calc(100vh - 100px);
        align-items: center;
    }
    .sect-login{
        width: 350px;
        height: 483px;
        display: grid;
        row-gap: 20px;
        /* height: 400px; */
    }
    .sect-img{
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 40vw;
        height: 100vh;
        min-height: 583px;
        display: flex;
    }
    .sect-img img{
        /* display: none; */
        height: 100%;
        /* width: 380px; */
        width: 63%;
        margin-left: auto;
        margin-right: 0px;
        object-fit: cover;
    }
    .con-btns{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        grid-template-rows: 50px;
    }
}
